/* CSS STYLESHEET START */

.hidden {
	display: none;
}

@font-face {
    font-family: 'product_sans';
    src: url('../fonts/productsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

